html::-webkit-scrollbar{
    display: none
}


.blogs{
    background-image: url('../../pictures/close-das-teclas-iluminadas-do-teclado_240916-896.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 630px;
    padding: 3%;
    margin-top: 5%;
}

.cont{
    display: flex;
}

.blogs h2{
    text-align: center;
    color: black;
    margin-top: 4%;
    font-family: 'Arsenal', sans-serif;
}

.blogs h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 250%;
    font-family: 'Arsenal', sans-serif;
}

.blogs p{
    color: black;
    margin-top: 4%;
    padding: 3%;
    font-family: 'Arsenal', sans-serif;
}

.conteudo{
    width: 25%;
    height: 500px;
    margin-top: 3%;
    margin-left: 5%;
    background-color: white;
    border: 1px solid #021f59;
}

.conteudo:hover{
    cursor: pointer;
   background-color: rgb(206, 204, 204);
    transition: 500ms;
}

.conteudo img{
    width: 100%;
}


@media only screen and (max-width: 450px){

    html::-webkit-scrollbar{
        display: none
    }
    .cont{
        display: grid;
    }

    .conteudo{
        width: 85%;
        height: 500px;
        margin-top: 3%;
        margin-left: 5%;
        background-color: white;
        border: 1px solid #021f59;
    }

    .blogs{
        background-image: url('../../pictures/close-das-teclas-iluminadas-do-teclado_240916-896.jpg');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
        padding: 3%;
        margin-top: 5%;
    }
}